/* style.css */

#capsuck {
    background-color: red;
    font-size: 32px;
    color: white;
    align-self: center;
    font-weight: bold;
}

.hasan {
    background-color: green;
    color: white;
    font-size: 18px;
}

button {
    background-color: orange;
    font-size: 18px;
    color: white;
}

img {
    scale: 50%;
}

#crime {
    color: red;
    font-style: italic;
}

.odd {
    background-color: red;
    font:  Verdana, DejaVu Sans, sans-serif;
}

#two{
    color: blue;
    font-size: 36px;
}

#three{
    font-size: 24px;
}

#four{
    background-color: lightgreen;
    font-size: 24px;
}